  h1,
  h2 {
    text-align: center;
    color: #555;
  }
.list-container{
    margin-top:90px;
}
.postTitle{
    font-size: 16px;
    font-weight:bolder;
    color:green;
}
.datePublication{
    font-size: 12px;
    font-style: italic;
    color:#472b29;
}

/* #footer_id{
  display:none;
} */

.post-description img {
   margin: 0 25%;
   width:500px;
   height:500px;
  }

.desc-container{
  display:flex;
  flex-direction: column ;
}

