.MainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.MainHeader .fa-shopping-basket{
   font-size: 15px;
   font-weight: bolder;
   color:white;
}
.shopping-basket a{ color:white;}
.MainHeader .shopping-basket{
    margin-right:20px;
    background-color: green !important;
    color:white;
    padding:15px 35px;
    border-radius: 25px;
}
.SearchOption{
    width: 300px;
    height: 35px;
    border: 1px solid #cecece;
    border-radius: 5px;
    display: flex; 
    margin-top: -30px;
}
.SearchOption > select{
    width: 30%;
    border: none;
    border-radius: 5px 0 0 5px;
    font-family: 'Lato', sans-serif;
    border-right: 1px solid #eee;
}
.SearchOption > input{
    width: 90%;
    border: none;
}
.SearchOption > button{
    width: 10%;
    border: none;
    background: transparent;
}